* 
{
    box-sizing: content-box;
}
body
{
    text-align: center;
    background-image: url("../universe.jpg");
    background-size: cover;
}
h1{
    color: white;
}
canvas
{
    background-color: #031806;
    border: 10px dashed #f18508;
}